* {
  box-sizing: border-box;
  transition: all ease 0.2s;
  word-break: break-all;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

.top-bar {
  background-color: #ec362d;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: fixed;
  top: 0;
  left: 0;

  height: 69px;
  width: 100%;

  z-index: 2;
}

.app {
  height: calc(100vh - 69px);
  /* margin: 69px 0 31px; */
  position: fixed;
  top: 69px;
  left: 0;
  width: 100%;
  overflow-y: auto;
}

/* .page-create-quizz button {
  height: 52px;
  min-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
  padding: 12px;
} */

.page-create-quizz {
  width: 100%;
  max-width: 600px;
  margin: 71px auto 20px;
  display: flex;
  flex-direction: column;
}

.page-create-quizz > .title {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  margin-bottom: 30px;
}

.entries {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 16px;
}

.entries input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.entries input:not(:last-child) {
  margin-bottom: 9px;
}

.entries input::placeholder {
  font-style: italic;
}

.proceed {
  background-color: #ec362d;
  color: #ffffff;
  font-size: 18px;
  height: 54px;
  width: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  align-self: center;
  margin-top: 50px;
  cursor: pointer;
}

.proceed:hover{
  filter: brightness(90%);
}

/*Aqui para baixo estilo page 2*/
.top-quiz-container{
  position: relative;
  width: 100%;
  height: 227px;
  background-color: #000;
}
img.icon-main-image{
object-fit: cover;
width: 100%;
height: 100% ;
opacity: 0.6;
}

span.quiz-title{
  position: absolute;
  font-family: "Roboto", sans-serif;;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  z-index: 2;
  text-align: center;
  left: 0%;
  right: 0%;
  top: 60px;
}

.question-container{
  padding: 30px;
  margin: 0 auto;
  height: 676px;
  width: 759px;
  margin-top: 42px ;
  box-shadow: 0px 0px 10px 0px #0000000D;
}

.question-title{
  color:#ffffff;
  height: 137.99081420898438px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
 }
 .answer img{
  height: 175.20184326171875px;
  width: 329.9119873046875px;
  object-fit: cover;
 }
 .answer p{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 5px;  
 }
 .answer{
   text-align: left;
   margin-top: 20px;
 }

.quiz-answers{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*Reponsividade da tela2*/
@media (max-width: 1100px){
.question-container{
  width: 100%;
  height: 100%;
}
}
/*Aqui para cima estilo page 2*/