* {
  box-sizing: border-box;
  transition: all ease 0.2s;
  word-break: break-all;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

.top-bar {
  background-color: #ec362d;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: fixed;
  top: 0;
  left: 0;

  height: 69px;
  width: 100%;

  z-index: 2;
}

.top-bar:hover{
  cursor: pointer;
}

.app {
  height: calc(100vh - 69px);
  /* margin: 69px 0 31px; */
  position: fixed;
  top: 69px;
  left: 0;
  width: 100%;
  overflow-y: auto;
}

/* INÃCIO DA TELA 03*/

.page-create-quizz button {
  height: 52px;
  min-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
  padding: 12px;
}

.page-create-quizz {
  width: 100%;
  max-width: 600px;
  margin: 71px auto 20px;
  display: flex;
  flex-direction: column;
}

.page-create-quizz > .title {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  margin-bottom: 30px;
}

.entries {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 16px;
}

.entries input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-size: 19px;
}

.wrong-input-background {
  background-color: #FFE9E9;
}

.entries input:not(:last-child) {
  margin-bottom: 9px;
}

.entries input::placeholder {
  font-style: italic;
}

.proceed {
  background-color: #ec362d;
  color: #ffffff;
  font-size: 18px;
  height: 54px;
  width: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  align-self: center;
  margin-top: 50px;
  cursor: pointer;
}

.proceed:hover {
  filter: brightness(90%);
}

.page-create-quizz .entries .title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 20px;
  width: 100%;
}

.page-create-quizz .entries .toggle {
  cursor: pointer;
}

.page-create-quizz .entries .body-card {
  display: none;
}

.page-create-quizz .entries.expanded .body-card {
  display: initial;
}

.page-create-quizz .label {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.page-create-quizz .group {
  margin: 16px 0;
}

.page-create-quizz .entries {
  margin: 20px 0;
}

.page-create-quizz .access-quizz,
.page-create-quizz .go-back {
  width: 220px;
  margin: 0 auto;
}

.page-create-quizz button.access-quizz {
  margin-top: 20px;
  background-color: #ec362d;
  color: #ffffff;
  border: none;
}

.quizz {
  width: calc(100vw - 30px);
  max-width: 340px;
  height: 181px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.quizz:hover {
  filter: brightness(0.9);
}

.quizz img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quizz .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
}

.quizz .title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px;
  color: white;
  font-size: 19px;
  word-break: break-all;
}

.hidden {
  display: none;
}

.wrong-input-message {
  font-size: 16px;
  color: #EC362D;
  font-weight: 400;
  margin-bottom: 6px;
}

/* FIM DA TELA 03*/

/*Aqui para baixo estilo page 2*/

.result-title-container {
  width: 100%;
  background-color: #ec362d;
  padding: 23px;
  color: #ffffff;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.text-result {
  color: #484848;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
}

#true {
  color: #009c22;
}
#false {
  color: #ff4b4b;
}

.normal-style p {
  color: #000;
}
.box-result {
  display: flex;
}

.image-result {
  margin-top: 10px;
  margin-right: 10px;
  width: 50%;
}

.top-quiz-container {
  position: relative;
  width: 100%;
  height: 227px;
  background-color: #000;
}
img.icon-main-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

span.quiz-title {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  z-index: 2;
  text-align: center;
  left: 0%;
  right: 0%;
  top: 60px;
}

.question-container {
  padding: 30px;
  margin: 0 auto;
  width: 759px;
  margin-top: 42px;
  box-shadow: 0px 0px 10px 0px #0000000d;
}

.question-title {
  color: #ffffff;
  height: 137.99081420898438px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
}
.answer-form input {
  height: 200px;
  width: 329px;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 20px;
}

.reload-button {
  align-items: center;
  background-color: #ec362d;
  color: #ffffff;
  font-size: 18px;
  height: 54px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  align-self: center;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
}
.go-back-button {
  cursor: pointer;
  border: none;
  color: #818181;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.quiz-answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

/*Reponsividade da tela2*/
@media (max-width: 1100px) {
  .question-container {
    width: 100%;
    height: 100%;
  }
  .image-result {
    margin: 10px 0px;
    width: 100%;
  }
  .box-result {
    display: inline;
  }

  .answer {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    height: 70%;
    width: 48%;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 20px;
  }
  .answer img {
    height: 70%;
    width: 100%;
    object-fit: cover;
  }
}

.transparent .answer {
  opacity: 0.2;
  pointer-events: none;
}
div .answer.selected {
  opacity: 1;
}
/*Aqui para cima estilo page 2*/

/******************** Tela 1 *******************/

.your-quizzes.created {
  width: 1050px;
  height: 181px;

  margin: 77px auto 90px auto;
  border-radius: 5px;
}

.your-quizzes-header {
  display: flex;
  width: 170px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.your-quizzes-header ion-icon {
  font-size: 30px;
  color: #ec362d;
}

.your-quizzes-header p {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.your-quizzes-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.your-quizz {
  width: 340px;
  height: 181px;
  position: relative;
  border-radius: 5px;
  border-radius: 5px;
}

.your-quizz img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.your-quizz p {
  margin: 0 19px;
  position: absolute;
  bottom: 15px;

  font-family: Roboto;
  font-size: 19px;
  line-height: 22px;
  color: #fff;
  word-break: keep-all;
}

.your-quizzes.not-created {
  width: 1050px;
  height: 181px;

  margin: 77px auto 90px auto;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

p.quizz-not-created {
  width: 250px;
  display: flex;
  align-items: center;
  text-align: center;

  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  color: #b9b9b9;
  word-break: keep-all;
}

.create-quizz-btn {
  width: 151px;
  height: 40px;
  background-color: transparent;
  border: 1px dashed #ec362d;
  border-radius: 50px;

  font-family: Roboto;
  text-align: center;
  color: #ec362d;
}

.create-quizz-btn:hover {
  cursor: pointer;
}

.general-quizzes {
  width: 1060px;
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center; */
}

.all-quizzes-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;

  margin-bottom: 10px;
}

.general-quizzes-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.server-quizz {
  width: 340px;
  height: 181px;
  position: relative;
  border-radius: 5px;
}

.server-quizz img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  position: absolute;
  top: 0px;
  border-radius: 5px;
}

.server-quizz p {
  margin: 0 19px;
  position: absolute;
  bottom: 15px;

  font-family: Roboto;
  font-size: 19px;
  line-height: 22px;
  color: #fff;
  word-break: keep-all;
}

.server-quizz:hover {
  cursor: pointer;
}

.hidden{
  display: none;
}

@media (max-width: 1100px) {
  .app {
    width: 100%;
    padding-bottom: 20px;
  }

  .your-quizzes.not-created {
    width: 90%;
    height: 181px;
  }

  .your-quizzes.created {
    width: 90%;
    height: fit-content;
    border-radius: 5px;
  }

  .your-quizzes-header {
    width: 100%;
  }

  .your-quizzes-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

  .your-quizz {
    width: 100%;
    border-radius: 5px;
  }

  .your-quizz img {
    object-fit: cover;
    border-radius: 5px;
  }

  .general-quizzes {
    width: 90%;
  }

  .general-quizzes-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .server-quizz {
    width: 100%;
  }

  .server-quizz img {
    width: 100%;
    height: 100%;
    border-radius: 5px;

    object-fit: cover;
  }
}
